<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <style>
                * {
            font-family:Arial, Helvetica, sans-serif;
        }
        #leftside {
            float:left;
            width: 30%;
            min-height: 1200px;
            background-color:rgb(77, 192, 154);
        }
        #rightside {
            float:left;
            width: 70%;
            min-height: 1200px;
            background-color:rgb(238, 226, 192);
            position:relative;
        }
        #container {
            background-color:rgba(255, 255, 255, 0.85);
            position: absolute;
            top: 15%;
            left: 15%;
            min-width: 1100px;
            min-height: 1050px;
            border-radius: 0.7em;
        }
        header {
            height: 50px;
            background-color:rgba(231, 229, 229, 0.5);
            font-size: 2.75em;
            padding:0.5em;
            color:rgb(216, 150, 7);
        }
        header span {
            font-family: 'Sacramento', cursive;
        }
        main {
            position: relative;
        }
        main h2 {
            position: absolute;
            left: 20%;
            top: 30px;
            margin: 25px 0 200px 50px;
            color:rgb(60, 190, 160);
            text-transform: uppercase;
        }
        main #photos img {
            margin: 0.75em;
            border: 0.85em solid rgb(255, 255, 255);
        }
        section#blogposts {
            position: absolute;
            left: 20%;
            top: 70px;
            padding: 50px;
        }
        main .post {
            margin: 25px;
            padding: 25px;
            border: 2px solid rgba(83, 78, 58, 0.6);
            border-radius: 0.5em;
        }
        footer {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            text-align: center;
            font-size: 0.85em;
        }

        

        
</head>
<body>
  <div id="app">
    <header class="bg-white border-bottom py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Food Blog</h1>
        <nav-bar></nav-bar>
      </div>
    </header>

    <main class="container my-4">
      <div class="row">
        <div class="col-md-4">
          <food-image></food-image>
        </div>
        <div class="col-md-8">
          <h2 class="text-success text-uppercase">Comments</h2>
          <comment-box
            v-for="(comment, index) in comments"
            :key="index"
            :author="comment.author"
            :date="comment.date"
            :text="comment.text"
          ></comment-box>
        </div>
      </div>
    </main>

    <footer class="text-center py-3 bg-light">
      &copy; Copyright FOOD BLOG
    </footer>
  </div>

  <script>
    Vue.component('comment-box', {
      props: ['author', 'date', 'text'],
      template: `
        <div class="comment-box">
          <span class="author">{{ author }}</span> —
          <span class="date">{{ date }}</span>
          <span class="reply">REPLY</span>
          <p>{{ text }}</p>
        </div>
      `
    });

    Vue.component('food-image', {
      template: `
        <div class="text-center">
          <img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/hot-chili-1238302_960_720.jpg" 
               alt="White Chicken Chili" class="img-fluid rounded shadow">
        </div>
      `
    });

    Vue.component('nav-bar', {
      template: `
        <ul class="nav">
          <li class="nav-item" v-for="link in links" :key="link">
            <a class="nav-link text-dark" href="#">{{ link }}</a>
          </li>
        </ul>
      `,
      data() {
        return {
          links: ['Home', 'Recipes', 'Lifestyles', 'Videos', 'About']
        };
      }
    });

    new Vue({
      el: '#app',
      data: {
        comments: [
          {
            author: 'Brianna',
            date: 'Feb 18, 2021 @ 3:30 pm',
            text: "Was amazing! I used serrano instead of jalapeño. Just like my favorite tortilla soup!"
          },
          {
            author: 'LINH',
            date: 'Feb 15, 2021 @ 9:46 am',
            text: "So tasty! My dad can’t eat beef — this white chicken chili is perfect for him!"
          },
          {
            author: 'CATHERINE LEONARDO',
            date: 'Feb 13, 2021 @ 12:58 pm',
            text: "I LOVE this White Chicken Chili! Refreshingly different taste, freezes very well."
          },
          {
            author: 'KALI',
            date: 'Feb 13, 2021 @ 11:31 am',
            text: "This recipe is dynamite! Even my partner who won’t eat beans loved it."
          }
        ]
      }
    });
  </script>
</body>
</html>
